<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    Name : <input type="text" [(ngModel)]="obj.item" class="form-control">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    Quantity: <input type="text" [(ngModel)]="obj.qty"  class="form-control">
  </div>
</div>
<hr>
<div class="row">
  <button class="btn btn-success" (click)="add()">Add</button>
  <button class="btn btn-danger" (click)="delete()">Delete</button>
  <button class="btn btn-primary" (click)="obj.item=''; obj.qty=''">Clear</button>
</div>
<hr>
<div class="row">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let e of ingredients">{{e.item}} ({{e.qty}})</li>
  </ul>
</div>
